{% extends "base.html" %}

{% block title %}ChartJS{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  if (typeof benjamin !== 'undefined') {
    var benjamin = null;
  }

  function calculate(){
    expr = document.getElementById("expr").value
    x0 = document.getElementById("x0").value
    order = document.getElementById("order").value
    console.log(order)
    fetch("/taylor?order="+ order +"&expression="+ expr +"&x0="+ x0 +"&json=1")
      .then((response) => response.json())
      .then((json) => plot1(json));
  }
</script>

<p><a href="/">Back</a></p>

<h2>Expression input</h2>

<p>
  Expression: 
  <input type="text" id="expr"> ( sin(x) )
</p>
<p>
  x0: 
  <input type="text" id="x0"> (1)
</p>
<p>
  order: 
  <input type="text" id="order"> (2)
</p>
<p>
  <button type="button" onclick="calculate()">Submit</button>
</p>



<div>
  <canvas id="myChart"></canvas>
</div>

<script>
function plot1(json){
  const ctx = document.getElementById('myChart');

  if (benjamin != null) {
    benjamin.data.datasets[0].data = json.y1;
    benjamin.data.datasets[1].data = json.y0;
    benjamin.data.labels = json.x.map(x => Math.round(x*100)/100);
    benjamin.update()
  }
  else {
    benjamin = new Chart(ctx, {
      type: 'line',

      data: {
        labels: json.x.map(x => Math.round(x*100)/100),
        datasets: [{
          label: 'Approximation',
          data: json.y1,
          borderWidth: 1
        },
        {
          label: 'Orginal',
          data: json.y0,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            min: -2,
            max: 2,
          }
        }
      }
    }
  );
  }
}
</script>

{% endblock %}