{% extends "base.html" %}

{% block title %}ChartJS{% endblock %}

{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        if (typeof taylorChart !== 'undefined') {
            var taylorChart = null;
        }

        function calculate() {
            expr = document.getElementById("expr").value
            x0 = document.getElementById("x0").value
            order = document.getElementById("order").value
            console.log(order)
            fetch("/taylor?order=" + order + "&expression=" + expr + "&x0=" + x0 + "&json=1")
                .then((response) => response.json())
                .then((json) => plot1(json));
        }
    </script>

    <p><a href="/">Back</a></p>

    <h2>Expression input</h2>

    <p>Expression: <input type="text" id="expr"></p>
    <p>x0: <input type="text" id="x0"></p>
    <p>order: <input type="text" id="order"></p>
    <p>
        <button type="button" onclick="calculate()">Submit</button>
    </p>

    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script>
        function plot1(json) {
            const ctx = document.getElementById('myChart');

            if (taylorChart != null) {
                taylorChart.data.datasets[0].data = json.y1;
                taylorChart.data.datasets[1].data = json.y0;
                taylorChart.data.labels = json.x.map(x => Math.round(x * 100) / 100);
                taylorChart.update()
            } else {
                taylorChart = new Chart(ctx, {
                        type: 'line',

                        data: {
                            labels: json.x.map(x => Math.round(x * 100) / 100),
                            datasets: [{
                                label: 'Approximation',
                                data: json.y1,
                                borderWidth: 1
                            },
                                {
                                    label: 'Orginal',
                                    data: json.y0,
                                    borderWidth: 1
                                }]
                        },
                        options: {
                            scales: {
                                y: {
                                    min: -3,
                                    max: 3,
                                }
                            }
                        }
                    }
                );
            }
        }
    </script>

{% endblock %}